body {
  	background: url("Images/stripes.png"), url("Images/background.jpg");
  	background-size: auto, auto;
    background-repeat: repeat-x, no-repeat;

    font-size: 16px;
    font-family: helvetica;

color: white;

    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 100px;
    font-weight: 10;
    line-height: normal;

  	
  	
}

hr {
  color: red;
	width: 20px;
  height: 1px;
  margin-left: 7px;

}

a {
  padding: 0;
}

